body {
  margin: 0px;
  padding: 0px;
  font-size: 13px !important;
  color: #666666 !important;
  font-family: Arial, Helvetica, sans-serif !important;
  background-color: #f2f2f2 !important;
}
.wrap {
  width: 1015px;
  margin: auto;
}
.clear {
  clear: both;
}
img {
  border: 0px;
}
.l-float {
  float: left;
}
.r-float {
  float: right;
}
a {
  color: #4ba123;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
button,
select {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}
input,
textarea,
select {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #b8b8b8;
  background-color: #ffffff;
}
input {
  background-color: #ffffff;
  border: 1px solid #b8b8b8;
}
#header {
  background-color: #589b2f;
}
#header .tyres {
  background-image: url(../img/tyres.png);
  min-height: 105px;
  background-position: center bottom;
  background-repeat: no-repeat;
}
#header .logo {
  float: left;
  padding-top: 5px;
  position: relative;
  margin-left: -42px;
}
#header .info-group {
  float: left;
  padding-left: 15px;
  padding-top: 52px;
}
#header .info-group .desc {
  float: left;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 46px;
  text-shadow: 1px 1px 0 #296110;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  line-height: 56px;
}
#header .info-group .info {
  float: left;
  border-left: 1px solid #bcdaa3;
  padding-left: 15px;
  margin-left: 15px;
  font-size: 16px;
  color: #fff;
  text-shadow: 1px 1px 0 #486b2b;
  line-height: 22px;
  padding-bottom: 3px;
  margin-top: -7px;
}
#header .cart {
  float: right;
  padding-top: 25px;
}
#header .cart button {
  background: url("../img/cart.png") no-repeat scroll 10px 6px;
  border: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding: 10px 20px 8px 66px;
  position: relative;
}
#header .cart button:hover {
}
#header .cart button span {
  text-decoration: underline;
}
#header .cart button:hover span {
  text-decoration: none;
}
#header .cart button em {
  background-color: #ff5c21;
  border: 2px solid #ffffff;
  border-radius: 50px;
  color: #ffffff;
  display: block;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  height: 16px;
  left: 32px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 6px;
  width: 16px;
}
#header #nav {
  width: 1025px;
  padding-top: 10px;
}
#header #nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#header #nav ul li {
  float: left;
  padding-right: 5px;
}
#header #nav ul li:last-child a {
  width: 138px;
}
#header #nav ul li a {
  display: block;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 0 3px #2f630e;
  width: 141px;
  color: #fff;
  background-color: #316b16;
  text-align: center;
  height: 47px;
  line-height: 47px;
}
#header #nav ul li.activ a {
  background-color: #fff;
  text-shadow: none;
  color: #000;
}
#header #nav ul li:hover a {
  background-color: #3a7021;
}
#header #nav ul li.activ:hover a {
  background-color: #fff;
}
.content {
  background-image: url(../img/content.gif);
  background-repeat: repeat-y;
  border: 1px solid #cccccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-top: 15px;
}
.content.no-left {
  background-image: url(../img/content2.gif);
}
.content.no-right {
  background-image: none;
  background-color: #fff;
}
.content.no-right.no-right .center-content {
  float: none;
  width: auto;
}
.content.no-left .content {
  background: none;
  border: 0 none;
  box-shadow: none;
}
.left-nav {
  width: 153px;
  float: left;
  padding-bottom: 10px;
}
.left-nav .title {
  padding: 20px 20px;
  background-color: #e0e0e0;
  font-size: 14px;
  color: #999999;
  margin-bottom: 5px;
}
.left-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.left-nav ul li {
  border-bottom: 1px solid #dedede;
}
.left-nav ul li a {
  display: block;
  color: #333333;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 10px 5px 30px;
  background-image: url(../img/pic.gif);
  background-repeat: no-repeat;
  background-position: 22px 12px;
  position: relative;
}
.left-nav ul li:hover a {
  color: #fff;
  background-color: #589b2f;
  background-image: url(../img/pic.png);
}
.left-nav ul li.activ a {
  color: #fff;
  background-color: #589b2f;
  background-image: url(../img/pic.png);
  font-weight: bold;
}
.left-nav ul li a:hover span {
  display: inline-block;
  position: absolute;
  right: 8px;
  top: 9px;
  /*background-image:url(../img/plus.gif);*/
  background-repeat: no-repeat;
  width: 9px;
  height: 9px;
}
.left-nav ul li.activ a span {
  /*background-image:url(../img/minus.gif);*/
  display: inline-block;
  position: absolute;
  right: 8px;
  top: 9px;
  background-repeat: no-repeat;
  width: 9px;
  height: 9px;
}
.left-nav ul li.activ ul {
  padding: 8px 0;
}
.left-nav ul li.activ ul li a {
  padding: 2px 10px 2px 40px;
  color: #333333;
  font-size: 13px;
  background-image: url(../img/pic2.gif);
  background-position: 32px 9px;
  background-color: inherit;
  font-weight: normal;
}
.left-nav ul li.activ ul li a:hover {
  text-decoration: underline;
}
.left-nav ul li.activ ul li.activ a {
  font-weight: bold;
}
.left-nav ul li.activ ul li.activ ul li a {
  font-weight: normal;
  padding-left: 50px;
  background-image: none;
  color: #808080;
  font-size: 12px;
}
.left-nav ul li.activ ul li.activ ul li.activ a {
  font-weight: bold;
}
.left-nav ul li.activ ul li.activ ul li.activ ul li a {
  font-weight: normal;
  padding-left: 60px;
}
.left-nav ul li.activ ul li.activ ul li.activ ul li.activ a {
  font-weight: bold;
}
.left-nav ul li.activ ul li {
  border: 0;
}
.left-nav ul li.activ ul {
  background-color: #f5f5f5;
}
.center-content {
  float: left;
  padding: 10px 20px 20px;
  width: 647px;
}
.slide {
  position: relative;
  overflow: hidden;
  height: 164px;
  margin-bottom: 20px;
}
.slide .slide-inner {
  width: 50000px;
}
.slide .item {
  float: left;
}
.slide .page {
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.slide .page a {
  display: block;
  background-color: #fff;
  width: 8px;
  height: 8px;
  float: left;
  margin-left: 5px;
}
.slide .page a.activ,
.slide .page a:hover {
  background-color: #ff0000;
}
.slide .action {
  color: #fff;
  font-size: 14px;
  background-color: #ff0000;
  padding: 3px 15px;
  position: absolute;
  left: 0;
  top: 0;
}
.block-home {
  padding-bottom: 20px;
}
.block-home h2 {
  margin: 0;
  padding: 0;
  color: #666666;
  font-size: 20px;
  font-family: "Open Sans Condensed", sans-serif;
  padding-bottom: 10px;
}
.block-home table {
  width: 100%;
}
.block-home table td {
  padding: 5px 0;
}
.right-content {
  float: right;
  width: 173px;
}
.bt-right .item {
  display: block;
  background-color: #e4e4e4;
  background-image: url(../img/bg-bt-right.gif);
  background-repeat: repeat-x;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
  padding: 21px 10px 21px 55px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: normal !important;
}
.bt-right .item:hover {
  background-image: none;
  background-color: #f1f1f1;
}
.bt-right .item em {
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
}
.bt-right .item.icon1 em {
  width: 27px;
  height: 29px;
  background-position: left top;
  left: 15px;
  top: 15px;
}
.bt-right .item.icon2 em {
  width: 33px;
  height: 28px;
  background-position: left -34px;
  left: 13px;
  top: 16px;
}
.bt-right .item.icon3 em {
  width: 27px;
  height: 27px;
  background-position: left -66px;
  left: 15px;
  top: 16px;
}
.bt-right .item.icon4 em {
  width: 26px;
  height: 26px;
  background-position: left -97px;
  left: 15px;
  top: 16px;
}
.bt-right .item.icon5 em {
  width: 35px;
  height: 25px;
  background-position: left -127px;
  left: 13px;
  top: 16px;
}
.bt-right .item.icon6 em {
  width: 35px;
  height: 24px;
  background-position: left -157px;
  left: 13px;
  top: 16px;
}
.bt-right .item.icon7 em {
  width: 23px;
  height: 26px;
  background-position: left -187px;
  left: 17px;
  top: 16px;
}
.bt-right .item.icon8 em {
  width: 29px;
  height: 29px;
  background-position: left -218px;
  left: 15px;
  top: 16px;
}
.bt-right .item.icon9 em {
  width: 27px;
  height: 26px;
  background-position: left -251px;
  left: 15px;
  top: 16px;
}
.bt-right .item.icon9 {
  padding: 12px 10px 11px 55px;
}
.bt-right .item.icon10 em {
  width: 30px;
  height: 25px;
  background-position: left -281px;
  left: 15px;
  top: 16px;
}
.bt-right .item.icon10 {
  padding: 14px 10px 13px 55px;
}
.bt-right .item.icon11 em {
  background-position: left -312px;
  height: 27px;
  left: 18px;
  top: 19px;
  width: 24px;
}
.bt-right .item.icon11 {
  padding: 14px 10px 13px 55px;
}
.bt-right .item.icon12 em {
  background-position: left -340px;
  height: 30px;
  left: 14px;
  top: 11px;
  width: 30px;
}
.bt-right .item.icon12 {
  padding: 17px 10px 17px 55px;
}
.bt-right .item.icon13 em {
  background-position: left -373px;
  height: 24px;
  left: 13px;
  top: 14px;
  width: 35px;
}
.bt-right .item.icon13 {
  padding: 17px 10px 17px 55px;
}
.bt-right .item.icon14 em {
  background-position: left -406px;
  height: 21px;
  left: 14px;
  top: 15px;
  width: 32px;
}
.bt-right .item.icon14 {
  padding: 17px 10px 17px 55px;
}
#footer {
  padding: 15px 0;
  font-size: 12px;
  color: #000;
}
.filter-group {
  border: 1px solid #cccccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 25px;
  padding-bottom: 10px;
  border-top: 0;
  position: relative;
}
.filter-group .item {
  float: left;
  margin-right: 40px;
}
.filter-group .item.item6 {
  margin-right: 0;
}
.filter-group .item.item6 .item-inner .name {
  margin-right: 10px;
  width: auto;
}
#CarCarViewForm .item.item6 .item-inner .name,
#CarIndexForm .item.item6 .item-inner .name {
  width: 115px;
}
#CarCarViewForm .item.item5,
#CarIndexForm .item.item5 {
  margin-right: 30px;
}
.filter-group .item.item7 {
  margin-right: 0;
}
#UsedTyreIndexForm .item.bt.bt2 {
  margin-top: -5px;
}
.filter-group .item.item7 .item-inner {
  float: left;
  margin-right: 30px;
}
.filter-group .item.item7 .sel-style4 {
  margin-right: 0;
  width: 180px;
}
.filter-group .item.item7 .item-inner .name {
  width: 65px;
}
#UsedTyreIndexForm .item.item7 .item-inner .name {
  width: auto;
  margin-right: 10px;
}
#UsedTyreViewForm .item.item7 .item-inner .name {
  width: auto;
  margin-right: 10px;
}
#UsedTyreViewForm .item.bt.bt2 {
  margin-top: -5px;
}
.filter-group .item.item6 .sel-style4 {
  width: 260px;
}
.filter-group .item .item-inner {
  padding-bottom: 15px;
}
.filter-group .item .item-inner .name {
  float: left;
  width: 115px;
  color: #000000;
  font-size: 14px;
  padding-top: 7px;
}
#CarViewForm .item .item-inner .name {
  width: 115px !important;
}
#CarViewForm .item.item5 {
  margin-right: 20px;
}
.filter-group .item .item-inner .inp {
  float: left;
}
.sel-style1 {
  padding: 4px;
  width: 219px;
}
.sel-style2 {
  padding: 4px;
  width: 67px;
  margin-right: 5px;
}
.sel-style3 {
  padding: 4px;
  width: 59px;
  margin-right: 5px;
}
.sel-style4 {
  padding: 4px;
  width: 280px;
  margin-right: 5px;
}
.filter-group .item.item2 {
  margin-right: 15px;
}
.filter-group .item.item2 .item-inner .name {
  width: 70px;
}
.filter-group .item .item-inner .checkbox {
  float: left;
  margin-right: 5px;
}
.filter-group .item .item-inner .checkbox-name {
  float: left;
  padding-top: 2px;
}
.filter-group .item.item3 .item-inner {
  padding-bottom: 8px;
}
.filter-group .item.item3 {
  margin: 0;
}
.filter-group .item.item4 {
  margin: 28px 0 0;
}
.filter-group .item.item5 {
  margin-right: 50px;
}
.filter-group .item.bt {
  margin-right: 0;
  margin-top: -20px;
  position: absolute;
  right: 25px;
  top: 50%;
}
.bt-style1 {
  border: 1px solid #d75124;
  background-color: #e35121;
  background-image: url(../img/bt-style1.gif);
  background-repeat: repeat-x;
  padding: 5px 35px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.bt-style1:hover {
  background-image: none;
}
.center-content .title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: "Open Sans Condensed", sans-serif;
  color: #000;
  margin-bottom: 15px;
}
.center-content .title-page {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: "Open Sans Condensed", sans-serif;
  color: #000;
  margin-bottom: 15px;
  font-weight: bold;
}
.pager-filter {
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 10px;
}
.pager-filter .filter {
  margin-top: 1px;
}

.pager-filter.bottom {
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin-top: 10px;
  padding-top: 15px;
}
.pager-filter.bottom .pager-filter {
  border-bottom: 0;
}
.pager-filter .page {
  float: left;
}
.pager-filter .page a,
.pager-filter .page span,
.pager-filter .page em {
  display: block;
  text-decoration: none;
  color: #3a3a3a;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 33px;
  float: left;
}
.pager-filter .page a.prev,
.pager-filter .page span.prev {
  border-left: 1px solid #dddddd;
  line-height: 30px;
  border-radius: 3px 0 0 3px;
}
.pager-filter .page a.next,
.pager-filter .page span.next {
  line-height: 30px;
  border-radius: 0 3px 3px 0;
}
.pager-filter .page a:hover,
.pager-filter .page span:hover {
  color: #838383;
}
.pager-filter .page em {
  font-weight: bold;
  font-style: normal;
  color: #316b16;
  font-size: 15px;
  line-height: 32px;
}
.filter {
  float: right;
  margin-top: -7px;
  position: relative;
}
.filter a {
  display: block;
  text-decoration: none;
  color: #3a3a3a;
  border: 1px solid #dddddd;
  width: 32px;
  height: 23px;
  text-align: center;
  padding-top: 9px;
  float: left;
  border-radius: 3px;
  margin-left: 8px;
}
.filter label {
  float: left;
  display: block;
  padding-right: 10px;
  padding-top: 7px;
}
.filter select {
  float: left;
  margin-right: 5px;
  padding: 4px;
  width: 55px;
  display: block;
}
.tyres-group {
  padding-bottom: 20px;
}
.tyres-group .item {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.filter a:hover {
  border: 1px solid #316b16;
}
.tyres-group .item:hover {
  background-color: #ffffff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  border-bottom: 0;
  padding-bottom: 11px;
}
.tyres-group .item .image {
  width: 91px;
  float: left;
  margin-right: 10px;
  border: 1px solid #dfdfdf;
}
.tyres-group .item .image img {
  display: block;
}
.tyres-group .item .desc {
  float: left;
  width: 522px;
}
.tyres-group .item .desc .all-more {
  float: right;
  margin-top: 10px;
}
.tyres-group .item .desc .all-more a {
  background-color: #40b252;
  color: #ffffff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 10px;
  text-decoration: none;
  text-shadow: 1px 1px 0 #368f44;
}
.tyres-group .item .desc .all-more a:hover {
  background-color: #53bc64;
}
.tyres-group .item .desc a {
  text-decoration: underline;
}
.tyres-group .item .desc a:hover {
  text-decoration: none;
}
.tyres-group .item .desc .name {
  margin-bottom: 10px;
  font-size: 16px;
}
.tyres-group .item .desc table {
  width: 100%;
}
.tyres-group .item .desc table td {
  padding: 5px;
  background-color: #f4faf6;
  text-align: center;
}
.tyres-group .item .desc table td.radius {
  text-align: left;
}
.contact-block {
  font-size: 14px;
}
.bre {
  padding-top: 20px;
  font-size: 12px;
  color: #666666;
}
.bre a {
  color: #666666;
}
.group-prod {
  padding-bottom: 20px;
}
.group-prod .image {
  float: left;
  width: 245px;
  margin-right: 15px;
  text-align: center;
}
.group-prod .desc {
  float: left;
  width: 386px;
}
.group-prod .desc table {
  width: 100%;
}
.group-prod .desc table tr th {
  padding: 5px;
  text-align: right;
}
.group-prod .desc table tr td {
  padding: 7px 10px;
}
.group-prod .desc table tr th,
.group-prod .desc table tr td {
  background-color: #f8f8f8;
}
.group-prod .desc table tr.tyre_descr_tr td,
.group-prod .desc table tr.tyre_descr_tr th {
  background-color: #fff;
}
.group-prod .desc table .price {
  color: #ff0000;
  font-weight: bold;
  font-size: 14px;
}
.selection {
  padding-top: 15px;
}
.selection .item {
  float: left;
  width: 160px;
  text-align: center;
  margin-bottom: 40px;
}
.selection .item a {
  text-decoration: none;
}
.selection .item span {
  display: block;
  margin-bottom: 10px;
}
.selection .item strong {
  display: block;
  font-size: 14px;
}
.selection .item a:hover {
  text-decoration: underline;
}
.boxList2.boxList2-new {
  background-color: #ffffff;
  box-shadow: 1px 1px 3px #9f9f9f;
  border: 0px;
  padding: 10px;
  margin-bottom: 20px;
}
.boxList2.boxList2-new title-link {
  display: block;
  font-size: 18px;
}
.floatl {
  float: left;
}
.rel-box {
  display: block;
  position: relative;
}
.prodImg2 {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  height: 143px;
  overflow: hidden;
  width: 182px;
}
.boxList2.boxList2-new .prodImg2 {
  height: 113px;
  width: 117px;
}
.infoList2 {
  float: left;
  padding-left: 10px;
  width: 183px;
}
.boxList2.boxList2-new .infoList2 {
  width: 498px;
}
.boxList2.boxList2-new .title-link {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}
.table-box-list {
  width: 100%;
}
.table-box-list tr {
  cursor: pointer;
}
.table-box-list td {
  border-bottom: 1px solid #ffffff;
  padding: 5px;
  white-space: nowrap;
}
.table-box-list td .productSeason2 {
  margin-top: 2px;
}
.table-box-list tr:nth-of-type(even) td {
  background-color: #fff;
}
.table-box-list tr:nth-of-type(odd) td {
  background-color: #ecf1dd;
}
.table-box-list tr:hover td {
  background-color: #e7edd6;
}
.productSeason {
  font-size: 13px;
  display: inline-block;
  margin-top: 8px;
  background-image: url("../img/season.png");
  background-repeat: no-repeat;
  background-position: left -15px;
  width: 17px;
  height: 0px;
  padding-top: 18px;
  overflow: hidden;
}
.productSeason2 {
  font-size: 13px;
  display: inline-block;
  margin-top: 8px;
  background-image: url("../img/season.png");
  background-repeat: no-repeat;
  background-position: left top;
  width: 17px;
  height: 0px;
  padding-top: 15px;
  overflow: hidden;
}
.productSeason3 {
  font-size: 13px;
  display: inline-block;
  margin-top: 8px;
  background-image: url("../img/season.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  width: 18px;
  height: 0px;
  padding-top: 18px;
  overflow: hidden;
}
.table-box-list .productSeason {
  margin-top: 0;
}
a.btVer2 {
  background-color: #40b252;
  color: #ffffff;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 10px;
  text-decoration: none;
  text-shadow: 1px 1px 0 #368f44;
}
a.btVer2:hover {
  background-image: none;
  background-color: #72bb00;
}
a.btVer3 {
  border: 0px;
  background-repeat: repeat-x;
  background-color: #97b2c9;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 1px 1px 1px #6c6c6d;
  font-family: Arial, Helvetica, sans-serif;
  padding: 7px 12px;
  cursor: pointer;
  text-shadow: 1px 1px 1px #546675;
  display: inline-block;
  text-decoration: none;
}
a.btVer3:hover {
  background-image: none;
  background-color: #97b2c9;
}
.table-box-list td .btVer2 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 19px;
  font-weight: normal;
  padding: 0;
  text-align: center;
  width: 101px;
}
.currency {
  background-color: #f9f4e2;
  border: 1px solid #e5dfc9;
  font-size: 11px;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 10px 15px;
  text-align: center;
}
.width-disk {
  width: 665px;
}
.boxList {
  background-color: #f5f5f5;
  box-shadow: 1px 1px 0 #e5e5e5;
  float: left;
  height: 289px;
  margin-bottom: 20px;
  margin-right: 16px;
  padding: 15px;
  width: 174px;
}
.border-b-tyres .boxList.season-winter,
.border-b-tyres .boxList.season-summer,
.border-b-tyres .boxList.season-all {
  height: 260px;
  padding-top: 15px;
}
.info-top {
  margin-bottom: 5px;
  text-align: center;
}
.info-top h3 {
  margin: 0;
  padding: 0;
}
.info-top a {
  text-decoration: none;
}
.boxList .brand {
  color: #000000;
  display: block;
  font-size: 13px;
}
.info-top .brand {
  color: #2f9ae9;
  font-size: 14px;
}
.boxList .model {
  color: #2f9ae9;
  font-size: 12px;
}
.info-top .model {
  color: #2f9ae9;
  font-size: 13px;
}
.info-top .productSeason2,
.info-top .productSeason,
.info-top .productSeason3 {
  margin-top: 0;
  position: relative;
  top: 2px;
}
.prodImg {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  height: 143px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  width: 173px;
}
.prodImg table {
  height: 100%;
  width: 100%;
}
.prodImg table td {
  text-align: center;
}
.infoList {
  margin-bottom: 10px;
  text-align: center;
}
.infoList .available {
  margin: 0;
}
.detalProd {
  clear: both;
  color: #333333;
  font-size: 13px;
  padding-top: 10px;
  white-space: nowrap;
}
.season-winter .detalProd,
.season-summer .detalProd {
  padding-top: 0;
}
.size15 {
  font-size: 14px;
}
.priceMore {
  padding: 10px 0;
  text-align: center;
}
.with-season .priceMore {
  padding: 0;
  text-align: center;
}
.with-season .priceMore .namber.tyres {
  display: inline-block;
}
.with-season .priceMore {
  text-align: center;
}
.priceMore span {
  color: #333333;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 5px;
}
.with-season .priceMore span {
  color: #c72e30;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 5px;
}
h3.title-tyres {
  font-size: 14px;
  height: 32px;
  margin: 0 0 5px;
  padding: 0;
  text-align: center;
}
.border-b .priceMore.disks {
  display: inline !important;
  float: none;
  margin-top: 0;
  width: auto;
}
.priceMore.disks span {
  color: #c72e30;
  font-size: 15px;
  margin: 0;
}
.priceMore.disks span span {
  font-size: 13px;
}
.number.disks {
  display: inline;
  font-weight: bold;
  margin-top: 11px;
}
.boxList.disks {
  height: 240px;
  padding-top: 8px;
  text-align: center;
}
.boxList2 {
  border-bottom: 1px solid #d8dee4;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.infoList2 h3 {
  font-size: 17px;
  margin: 0;
  padding: 0;
}
.detalProd {
  clear: both;
  color: #333333;
  font-size: 13px;
  padding-top: 10px;
  white-space: nowrap;
}
.priceMore2 {
  background-color: #ffffff;
  box-shadow: 1px 1px 3px #9f9f9f;
  float: right;
  padding: 23px 15px;
  text-align: center;
  width: 220px;
}
.priceMore2 span {
  color: #333333;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 5px;
}
.priceMore2 span span {
  font-size: 16px;
  margin: 0;
}
.moreTable {
  margin-bottom: 14px;
  padding-top: 20px;
  clear: both;
}
.moreTable table {
  width: 100%;
}
.moreTable table th {
  background-color: #ecf1dd;
  border: 1px solid #cccccc;
  padding: 10px 5px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.moreTable table td {
  border: 1px solid #cccccc !important;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.moreTable table tr:nth-of-type(even) td {
  background-color: #fff;
}
.moreTable table tr:nth-of-type(odd) td {
  background-color: #ffffe6;
}
.moreTable table tr {
  cursor: pointer;
}
.moreTable table tr:hover td {
  background-color: #fbfbd3;
}
.picLink1 {
  display: inline-block;
  background-image: url(../img/pic3.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  width: 7px;
  height: 4px;
  margin-left: 5px;
  position: relative;
  top: -2px;
}
.moreProd {
  display: block;
  margin-top: 10px;
}
.normal-img {
  text-align: center;
}
.prodImg2 table {
  width: 100%;
}
.content.no-left .center-content {
  width: 800px;
}
.prodBigImg {
  width: 245px;
  float: left;
  border: 1px solid #d1d1d2;
  background-color: #fff;
  text-align: center;
}
.prodBigImg img {
  width: 100%;
  display: block;
}
.infoProdBig {
  float: right;
  width: 545px;
  position: relative;
  z-index: 2;
}
.boxLeftInfo {
  margin-bottom: 15px;
}
.boxLeftInfo h2 {
  margin: 0px;
  padding: 0px;

  color: #000;
  font-size: 26px;
}
.boxLeftInfo h2 span {
  font-size: 20px;
  color: #666666;
  display: block;
}
.tableProd {
  padding-top: 25px;
  width: auto;
}
.tableProd table {
  width: 100%;
  border-collapse: collapse;
}
.tableProd table td {
  font-weight: bold;
  border: 1px solid #cccccc;
  padding: 5px 10px;
}
.tableProd table th {
  font-weight: normal;
  padding: 5px 10px;
  border: 1px solid #cccccc;
}
.tableProd table tr:nth-of-type(even) td,
.tableProd table tr:nth-of-type(even) th {
  background-color: #fff;
}
.tableProd table tr:nth-of-type(odd) td,
.tableProd table tr:nth-of-type(odd) th {
  background-color: #ecf1dd;
}
.tableProd table td,
.tableProd table th {
  padding: 5px 10px;
  text-align: left;
  width: 50%;
}
.boxRightInfo {
}
.boxPriceProd {
  background-color: #ffffff;
  box-shadow: 1px 1px 3px #9f9f9f;
  color: #000000;
  float: left;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  width: 240px;
}
.boxPriceProd em {
  font-style: normal;
  font-size: 18px;
  font-family: "Open Sans Condensed", sans-serif;
}
.boxPriceProd span {
  font-size: 18px;
  font-weight: bold;
}
.boxPriceProd strong {
  font-size: 15px;
  font-weight: normal;
}
.orderCall {
  background-color: #e7ecf1;
  float: right;
  padding: 5px 0;
  width: 260px;
}
.orderCall h3 {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
  font-size: 17px;
  color: #7a8aa0;
  text-transform: uppercase;
  padding: 0px 16px;
  border-bottom: 1px solid #d5dde5;
  padding-bottom: 5px;
  font-family: "Open Sans Condensed", sans-serif;
}
.orderCall span {
  display: inline-block;
  font-family: "Open Sans Condensed", sans-serif;
  color: #000000;
  font-size: 22px;
  padding: 0px 16px;
}
.textProd {
  margin-top: 20px;
}
.textProd h3 {
  font-size: 17px;
  color: #333333;
}
.infoRight {
  font-size: 11px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 2px 10px 2px 15px;
}
.filterMod {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
.filterMod li {
  float: left;
  font-size: 15px;
  color: #333333;
  margin-right: 15px;
}
.filterMod li a {
  color: #000000;
  font-size: 17px;
  font-weight: bold;
  padding: 2px 5px;
  position: relative;
  display: block;
  top: -4px;
}
.filterMod li a.activ {
  color: #fff;
  text-decoration: none;
  background-color: #a4aebb;
}
.boxMod {
  padding-top: 20px;
  color: #333333;
  margin-bottom: 30px;
}
.boxMod h3 {
  margin: 0px;
  padding: 0px;
  font-size: 17px;
  margin-bottom: 15px;
}
.boxMod table {
  width: 100%;
  border-collapse: collapse;
}
.boxMod table th {
  background-color: #ecf1dd;
  border: 1px solid #cccccc;
  padding: 10px 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
}
.boxMod table tr:nth-of-type(even) td {
  background-color: #fff;
}
.boxMod table tr:nth-of-type(odd) td {
  background-color: #ffffe6;
}
.boxMod table td {
  background-color: #fff;
  border: 1px solid #cccccc;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 12px;
}
.size15 {
  font-size: 14px;
}
.moreTable {
  padding-top: 20px;
  margin-bottom: 14px;
}
.moreTable table {
  width: 100%;
}
.moreTable table th {
  text-align: center;
  font-weight: normal;
  padding: 7px 5px;
  color: #666666;
  border-bottom: 1px solid #cccccc;
}
.moreTable table td {
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
  text-align: center;
  padding: 8px 5px;
  color: #666666;
}
.moreTable table td .btVer2 {
  font-size: 19px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: normal;
  padding: 0px 8px;
}
.add-to-cart {
  float: left;
  padding-top: 22px;
}
.buy-button {
  float: right;
  padding-top: 24px;
}
.buy-button a {
  text-transform: uppercase;
  padding: 2px 12px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 16px;
}
.select-namber a {
  background-color: #ececec;
  background-image: url("../img/bg-plus.gif");
  background-repeat: repeat-x;
  border: 1px solid #b8b8b8;
  color: #999999;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  width: 16px;
}
.select-namber span {
  color: #3a4c56;
  display: block;
  font-size: 14px;
  padding-top: 6px;
}
.select-namber span {
  background-color: #f9f9f9;
  border: 1px solid #b8b8b8;
  box-shadow: 2px 2px 2px #e3e3e3 inset;
  color: #3a4c56;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  height: 24px;
  padding-right: 10px;
  text-align: center;
  width: 50px;
}
.select-namber span input {
  background-color: #f9f9f9;
  border: 0 none;
  color: #666666;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 0;
  text-align: right;
  width: 20px;
}
.popup.order-page {
  position: inherit;
  float: right;
  box-shadow: none;
  padding: 10px;
  background-color: #dae1e5;
  box-shadow: 1px 1px 0 #a0a0a1;
  width: 550px;
}
.bg-popup {
  background-image: url(../img/opacity-popup.png);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 101;
}
.popup {
  position: fixed;
  top: 50px;
  width: 610px;
  background-color: #f6f6f8;
  z-index: 102;
  left: 50%;
  margin-left: -320px;
  box-shadow: 0 0 10px #474747;
  padding: 15px;
}
.popup .title {
  color: #ff6600;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 30px;
  font-weight: normal;
  margin-top: 0;
  text-shadow: 1px 1px 0 #d1d1d3;
  position: relative;
  margin-bottom: 10px;
}
.popup .title span {
  color: #f99303;
  text-transform: uppercase;
}
.popup .title .close {
  display: block;
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-shadow: none;
}
.popup .title .close2 {
  display: block;
  position: absolute;
  right: 5px;
  top: 5px;
  background-image: url(../img/delete.gif);
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}
.cart-prod {
  background-color: #ffffff;
  box-shadow: 1px 1px 0 #ceced0;
  margin-bottom: 13px;
  padding: 10px;
  position: relative;
}
.cart-prod .delete {
  background-image: url("../img/delete.gif");
  display: block;
  height: 14px;
  position: absolute;
  right: 11px;
  top: 13px;
  width: 14px;
}
.cart-prod .img {
  float: left;
  margin-right: 20px;
  width: 158px;
  border: 1px solid #cccccc;
}
.cart-prod .img img {
  display: block;
}
.cart-prod.total-cart .img {
  border: 0;
}
.cart-prod .desc {
  width: 325px;
  float: left;
}
.cart-prod .desc h3 {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 25px;
}
.cart-prod .desc h3 a {
  text-decoration: none;
}
.cart-prod .desc h3 a:hover {
  text-decoration: underline;
}
.cart-prod .delete {
  display: block;
  background-image: url(../img/delete.gif);
  width: 14px;
  height: 14px;
  position: absolute;
  right: 11px;
  top: 13px;
}
.cart-prod table {
  width: 100%;
}
.cart-prod table td.price {
  font-size: 18px;
}
.cart-prod table td.total {
  color: #f65b07;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}
.cart-prod.total-cart {
  border: 0 none;
  box-shadow: none;
  padding: 0;
  background: none;
}
.cart-prod table td.total-price {
  font-size: 14px;
}
.cart-prod table td.total-all {
  color: #f65b07;
  font-size: 24px;
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
}
.option-cart {
  padding-top: 30px;
}
.option-cart {
  padding-top: 30px;
}
.option-cart .next-shop {
  display: block;
  float: left;
  font-size: 14px;
  margin-top: 11px;
}
.option-cart .checkout {
  float: right;
  padding-bottom: 6px;
}
.option-cart .checkout a {
  text-decoration: none;
  font-size: 23px;
}
.btVer1 {
  border: 1px solid #d75124;
  background-color: #e35121;
  background-image: url(../img/bt-style1.gif);
  background-repeat: repeat-x;
  padding: 5px 35px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.btVer1:hover {
  background-image: none;
}
.option-cart .checkout a {
  font-size: 15px;
}
.form-order {
  float: left;
  width: 387px;
}
.form-order .item-option {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.form-order .item-option.last {
  border: 0;
  margin: 0;
}
.form-order .item-option .item {
  padding-bottom: 15px;
}
.form-order .item-option .item label.title {
  float: left;
  width: 130px;
  font-size: 13px;
  padding-top: 7px;
  padding-right: 10px;
  font-family: Arial;
}
.form-order .item-option .item p {
  font-size: 14px;
  padding-top: 7px;
}
.form-order .item-option .item .info {
  background-color: #fff5be;
  background-image: url("../img/info.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 15px 15px 15px 75px;
}
.form-order .item-option .item .info table {
  height: 49px;
  width: 100%;
}
.form-order .item-option .item .info table td {
  height: 100%;
  vertical-align: middle;
  width: 100%;
}
.textarea-style1 {
  border: 1px solid #b8b8b8;
  box-shadow: 2px 2px 2px #e5e5e5 inset;
  float: left;
  font-size: 12px;
  height: 70px;
  padding: 5px;
  resize: vertical;
  width: 235px;
}
.form-order .item-option .item .sel-style1 {
  width: 245px;
}
.inp-style2 {
  background-color: #ffffff;
  border: 1px solid #b8b8b8;
  box-shadow: 2px 2px 2px #e5e5e5 inset;
  float: left;
  height: 25px;
  position: relative;
  width: 243px;
}
.selection {
  width: 675px;
}
.selection .item {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  float: left;
  margin-bottom: 28px;
  margin-right: 28px;
  min-height: 90px;
  padding: 15px 0;
  text-align: center;
  width: 195px;
}
.sectiontableheader {
  width: 100%;
}
.sectiontableheader th {
  padding: 5px;
  text-align: left;
}
.sectiontableheader td {
  background-color: #eef4f9;
  border-bottom: 1px solid #ffffff;
  padding: 5px;
  white-space: nowrap;
  font-size: 12px;
}
.tyresBox {
  float: left;
  width: 205px;
  color: #000;
  margin-top: 10px;
  margin-right: 15px;
}
.tyresBox.akbBox {
  margin-right: 0;
}
.tyresBox h2.tyres {
  background-image: url("../img/tyres.jpg");
  background-position: 10px 0;
  background-repeat: no-repeat;
  border-bottom: 3px solid #333333;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 34px;
  font-weight: normal;
  line-height: 63px;
  margin: 0 0 15px;
  padding: 0 0 0 105px;
  text-transform: uppercase;
}
.tyresBox h2.disks {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: normal;
  border-bottom: 3px solid #333333;
  background-image: url(../img/disks.jpg);
  background-repeat: no-repeat;
  background-position: 10px 0px;
  padding-left: 125px;
  margin-bottom: 15px;
  line-height: 63px;
}
.tyresBox h2.akb {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: normal;
  border-bottom: 3px solid #333333;
  background-image: url(../img/akb.jpg);
  background-repeat: no-repeat;
  background-position: 10px bottom;
  padding-left: 125px;
  margin-bottom: 15px;
  line-height: 63px;
}
.tyresBox ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  padding-left: 10px;
  margin-bottom: 15px;
}
.tyresBox ul li {
  color: #000000;
  font-weight: bold;
  padding: 0px;
}
.tyresBox ul li a {
  font-weight: normal;
  font-size: 13px;
}
.tyresBox ul li ul {
  padding-top: 10px;
}
.tyresBox ul li ul li {
  padding-bottom: 7px;
  color: #999999;
}
.paramDisks {
  padding-bottom: 15px;
  padding-left: 10px;
}
.paramDisks table {
  text-align: left;
  width: 100%;
}
.paramDisks table th {
  color: #999999;
  font-weight: normal;
  padding-bottom: 3px;
  text-align: left;
}
.paramDisks strong {
  display: block;
  margin-bottom: 10px;
}
.titlePage {
  color: #000000;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 24px;
  margin: 0 0 15px;
  padding: 0;
}
.filter-group .item.item8 .item-inner .name,
.filter-group .item.item10 .item-inner .name {
  display: inline-block;
  margin-right: 10px;
  width: auto;
  padding-bottom: 0;
}
.filter-group .item.item9 .item-inner .name,
.filter-group .item.item9 {
  margin-right: 0;
  padding-bottom: 0;
  padding-top: 5px;
}
.filter-group .item .sel-style1 {
  width: 150px;
}
#ProductIndexForm .item.bt.bt2 {
  margin-top: -5px;
}
.brend table {
  width: 100%;
  border-collapse: collapse;
}
.brend td,
.brend th {
  text-align: left;
  padding: 5px 10px;
  border: 1px solid #cccccc;
}
.brend th {
  text-align: right;
}
.brend tr:nth-of-type(even) td,
.brend tr:nth-of-type(even) th {
  background-color: #fff;
}
.brend tr:nth-of-type(odd) td,
.brend tr:nth-of-type(odd) th {
  background-color: #ecf1dd;
}
.center-content table {
  border-collapse: collapse;
}
.center-content table td.model_description td,
.center-content table td.model_description th {
  background-color: #ecf1dd;
  padding: 5px;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #cccccc;
  width: 50%;
}
.center-content table td.model_description tr.tyre_descr_tr td,
.center-content table td.model_description tr.tyre_descr_tr th {
  background-color: #fff;
}
.center-content table td.model_description th {
  text-align: right;
}
.center-content table td.model_image {
  padding-right: 20px;
  vertical-align: top;
}
.center-content table td.model_description.model_image {
  padding-right: 0;
}
#sh_tires_list {
  width: 100%;
}
#sh_tires_list,
.sectiontableheader {
  border-collapse: collapse;
}
#sh_tires_list th,
.sectiontableheader th {
  white-space: nowrap;
  text-align: center;
  background-color: #ecf1dd;
  border: 1px solid #cccccc;
  padding: 10px 5px;
  font-size: 12px;
  vertical-align: middle;
}
#sh_tires_list td,
.sectiontableheader td {
  background-color: #eef4f9;
  padding: 5px;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #cccccc;
  font-size: 12px;
}
#sh_tires_list td .productSeason,
.sectiontableheader td .productSeason {
  margin-top: 0;
}
#sh_tires_list tr.rowTint td,
.sectiontableheader tr.rowTint td {
  background-color: #ffffff;
}
#sh_tires_list tr.rowTint td,
.sectiontableheader tr.rowTint td {
  background-color: #ffffff;
}
#sh_tires_list tr.rowTint1 td,
.sectiontableheader tr.rowTint1 td {
  background-color: #ffffe6;
}
.model_description td .productSeason {
  margin: 0;
}
.model_description td,
.model_description th {
  background-color: #eef4f9;
  border: 1px solid #ffffff;
  padding: 5px;
  white-space: nowrap;
  vertical-align: middle;
  text-align: left;
}
.tabs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-bottom: 1px solid #ccc;
  float: left;
  width: 100%;
}
.tabs li {
  float: left;
  margin-right: 15px;
}
.tabs li a {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  padding: 6px 20px;
  background-color: #f6f6f6;
  border-bottom: 0;
  margin-top: 1px;
  cursor: pointer;
}
.tabs li.tab-current a {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 8px;
  position: relative;
  text-decoration: none;
  top: 1px;
  margin-top: 0;
}
.center-content h1 {
  color: #000000;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 18px;
  margin: 0 0 15px;
  padding: 0;
}
.boxHome {
  padding-bottom: 35px;
  width: 830px;
}
.boxHome h2 {
  color: #000000;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 24px;
  margin: 0 0 15px;
  padding: 0;
}
.prodBox {
  float: left;
  margin-right: 55px;
  position: relative;
  width: 170px;
}
.prodBoxPopup {
  width: 154px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #c5c5c5;
  border: 1px solid #c5c5c5;
  position: absolute;
  top: -15px;
  left: -15px;
  display: none;
  padding: 14px;
  z-index: 1000;
}
.prodBox:hover .prodBoxPopup {
  display: block;
}
.boxHome .prodImg {
  width: 158px;
}
.filter-prod {
  border-bottom: 1px solid #dae1e5;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.filter-prod.filter-prod2 {
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
}
#switch {
  border-bottom: 1px solid #dae1e5;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.filter-prod #switch {
  border: 0 none;
  float: left;
  margin: 0 0 15px;
  padding: 0;
}
.filter-prod #switch a {
  padding: 7px 15px;
}
#switch a {
  cursor: pointer;
  font-size: 15px;
  padding: 7px 25px;
}
#switch a.active {
  background-color: #dae1e5;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
.float-l {
  float: left;
}
.float-r {
  float: right;
}
.modelsinfo {
  background-color: #f8f8f8;
  padding: 10px;
  margin-bottom: 20px;
}
.modelsinfo .sortblock {
  margin-top: 0;
}
.modelsinfo span {
  display: block;
  float: left;
  margin-top: 1px;
}
.modelsinfo .productSeason,
.modelsinfo .productSeason2,
.modelsinfo .productSeason3 {
  float: left;
  margin-top: 0px;
  margin-right: 5px;
}
.sortblock {
  float: left;
  margin-left: 0;
  margin-top: 10px;
}
.sortblock strong {
  display: block;
  float: left;
  margin-right: 10px;
}
.sortblock .sort {
  float: left;
  position: relative;
}
.sub-sort {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sub-sort li {
  margin-bottom: 2px;
}
.infoList h3 a {
  text-decoration: none;
}
.infoList h3 {
  font-size: 13px;
  margin: 0;
  padding: 0;
}
.sortblock .sort:hover .sub-sort {
  display: block;
  position: absolute;
  top: 15px;
  left: 0px;
  background-color: #fff;
  border: 1px solid #dadada;
  padding: 5px 10px;
  width: 120px;
  box-shadow: 1px 1px 3px #ccc;
  z-index: 10;
}
.tab-prod {
  margin-bottom: 15px;
}
.tab-prod table {
  width: 100%;
}
.tab-prod table td.model {
  white-space: normal;
}
.tab-prod table th {
  background-color: #ecf1dd;
  border: 1px solid #cccccc;
  padding: 10px 5px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.tab-prod table td {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.tab-prod table tr.tr-even td {
  background-color: #fff;
}
.tab-prod table tr.tr-odd td {
  background-color: #ffffe6;
}
.tab-prod table td.price strong {
  font-size: 13px;
}
.tab-prod table td em {
  width: 23px;
  display: inline-block;
}
.tab-prod table td .btVer2 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 19px;
  font-weight: normal;
  padding: 0;
  text-align: center;
  width: 98px;
}
.tab-prod table td .btVer3 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 19px;
  font-weight: normal;
  padding: 0 8px;
}
tr.tr-odd td {
  background-color: #fafafa;
}
.tab-prod tr:hover td {
  background-color: #eaf1f4;
}
.hit-prod-list {
  background-color: #eec935;
  background-image: url(../img/pic-hit.gif);
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 11px;
  color: #000;
  padding-right: 3px;
  padding-left: 8px;
  display: inline-block;
  border-radius: 0 2px 2px 0;
  min-width: 43px;
  text-align: center;
}
.hit-prod-list span {
  display: block;
  position: relative;
  top: -1px;
}
.latest-prod-list {
  background-color: #89c632;
  background-image: url(../img/pic-latest.gif);
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 11px;
  color: #fff;
  padding-right: 3px;
  padding-left: 8px;
  display: inline-block;
  border-radius: 0 2px 2px 0;
  min-width: 43px;
  text-align: center;
}
.latest-prod-list span {
  display: block;
  position: relative;
  top: -1px;
}
.boxPriceProd.akb-price-box {
  float: right;
  margin-top: 10px;
  width: 364px;
}
.boxPriceProd.akb-price-box span {
  font-size: 38px;
}
.boxPriceProd.akb-price-box em {
  font-size: 21px;
}
.boxPriceProd.akb-price-box .select-namber span {
  font-size: 14px;
}
.boxPriceProd.akb-price-box .buy-button a {
  font-size: 16px;
  padding: 6px 22px;
}
.booking-table .grid {
  width: 100%;
  border-collapse: collapse;
  border-color: #589b2f;
}
.booking-table .grid td {
  padding: 0;
}
.booking-table .time {
  font-size: 11px;
  font-weight: normal;
  height: 32px;
  width: 32px;
  text-align: center;
  background: none repeat scroll 0 0 #dddddd;
}
.booking-table .occupied,
.booking-table .available {
  width: 53px;
  height: 33px;
}
.booking-table .occupied div {
  height: 8px;
  width: 8px;
  background: #ff0000;
  border-radius: 50px;
  margin: auto;
}
.booking-table .available div {
  background-color: #589b2f;
  color: #fff;
  cursor: pointer;
  border-radius: 50px;
  line-height: 22px;
  height: 20px;
  width: 20px;
  text-align: center;
  font-size: 11px;
  margin: auto;
}
.booking-table .available:hover div {
  background-color: #3a7021;
}
.booking-table .grid p {
  padding: 0 4px;
  margin: 0;
}
.booking-table .title-link img {
  display: inline-block;
  margin-right: 4px;
  position: relative;
  top: 1px;
  vertical-align: top;
}
.booking-table .title-link a {
  display: inline-block;
  font-size: 11px;
  width: 290px;
}
.info-booking .occupied,
.info-booking .available {
  border: 1px solid #d9d9d9;
  width: 33px;
}
.content-noleft {
  width: 800px;
}
.dates {
  padding-bottom: 15px;
}
.dates a {
  background-color: #f3f3f3;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.9) inset;
  color: #000000;
  display: inline-block;
  font-size: 11px;
  margin-left: -1px;
  padding: 9px 2px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 52px;
}
.dates a:last-child {
  border-radius: 0 3px 3px 0;
}
.dates a:first-child {
  border-radius: 3px 0 0 3px;
}
.dates a:hover {
  box-shadow: none;
  background-color: #fff;
}
.dates .group-data {
  margin: 0;
  display: inline-block;
}
.dates .title-data {
  margin: 0;
  font-size: 12px;
  margin-bottom: 10px;
}
.dates .title-data img {
  position: relative;
  margin-right: 5px;
  top: 2px;
}
.dates .active {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.18) inset;
  border-radius: 3px;
}
.dates a.active:hover {
  background-color: #e7e7e7;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.18) inset;
}
.booking-table {
  /* width: ; */
}
.booking-table .form {
  padding: 20px;
  background: #ddd;
}
.booking-table .input {
  float: left;
  width: 100%;
  padding-bottom: 10px;
}
.booking-table .input label {
  float: left;
  display: block;
  text-align: right;
  width: 320px;
  padding: 2px 10px 0 0;
  font-weight: bold;
}
.booking-table .input input,
.booking-table .input select,
.booking-table .input p,
.booking-table .input span {
  float: left;
  display: block;
  margin: 0;
}
.booking-table .input p {
  padding-top: 2px;
}
.booking-table .input span {
  padding: 2px 4px 0 0;
}
.booking-table .buttons {
  padding: 15px 0 0 330px;
}
.booking-table .models {
  float: left;
  padding-left: 5px;
}
.booking-table .models select {
  width: 150px;
}
.booking-table .error-message {
  float: left;
  color: #f00;
  padding: 2px 0 0 5px;
}
.stations-thanks .request {
  padding: 20px;
  background: #ddd;
  margin-top: 30px;
}
#map {
  width: 100%;
  height: 400px;
}
.booking-table table td a {
  text-decoration: none;
}
.storage-tabs {
  margin-bottom: 20px;
}
.storage-tabs ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-bottom: 1px solid #ececec;
}
.storage-tabs ul li {
  display: inline-block;
  margin-right: 20px;
  padding: 8px 0;
  font-weight: bold;
}
.storage-tabs ul li.tab-link.active {
  background-color: #589b2f;
  color: #fff;
}
.storage-tabs ul li.tab-link {
  background-color: #ececec;
  cursor: pointer;
  padding: 8px 25px;
  margin-right: 10px;
}
.storage table {
  width: 100%;
  border-collapse: collapse;
}
.storage table th {
  background-color: #ecf1dd;
  border: 1px solid #cccccc;
  padding: 10px 5px;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
}
.storage table td {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 5px;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
}
.storage table tr:nth-of-type(even) td {
  background-color: #fff;
}
.storage table tr:nth-of-type(odd) td {
  background-color: #ffffe6;
}
.storage table td p {
  margin: 0;
}
.storage table td .qty {
  background-color: #f9f9f9;
  border: 1px solid #b8b8b8;
  box-shadow: 2px 2px 2px #e3e3e3 inset;
  color: #3a4c56;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  height: 24px;
  text-align: center;
  width: 30px;
  margin: 0 5px;
}
.storage table td .small-btn {
  background-color: #ececec;
  background-image: url("../img/bg-plus.gif");
  background-repeat: repeat-x;
  border: 1px solid #b8b8b8;
  color: #999999;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 12px;
  text-align: center;
  text-decoration: none;
  width: 16px;
}
.storage table td .small-btn:hover {
  background-image: none;
}
.storage table td.name {
  white-space: normal;
  font-size: 11px;
}
.storage table td.total {
  font-weight: bold;
  font-size: 12px;
  text-align: left;
}
.storage .total {
  text-align: right;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
}
.storage h3 {
  margin-top: 0;
  margin-bottom: 10px;
}
.stations-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 15px;
}
.stations-list ul li {
  padding-bottom: 5px;
}
.datetime,
.auto,
.stations-list {
  margin-bottom: 20px;
}
.auto .input {
  padding-bottom: 10px;
}
.auto .input label {
  display: inline-block;
  width: 150px;
}
.auto .input input {
  display: inline-block;
  width: 250px;
  background-color: #f9f9f9;
  border: 1px solid #b8b8b8;
  box-shadow: 2px 2px 2px #e3e3e3 inset;
  color: #3a4c56;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  height: 24px;
}
.auto .input .tips {
  padding: 3px 0 0 150px;
  font-size: 11.5px;
  color: #999;
}
.auto .input .error-message {
  font-size: 11.5px;
  padding: 3px 0 0 150px;
  color: #f00;
}
.storage .button {
  padding-top: 15px;
  border-top: 1px solid #ccc;
  text-align: center;
}
.storage .button button {
  background-color: #e35121;
  background-image: url("../img/bt-style1.gif");
  background-repeat: repeat-x;
  border: 1px solid #d75124;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 35px;
  text-transform: uppercase;
}
.storage .button button:hover {
  background-image: none;
}
.data-group {
  padding-bottom: 20px;
}
.data-group h3 {
  display: inline-block;
  width: 150px;
}
.data-group .datetime {
  display: inline-block;
  width: 250px;
  margin-bottom: 0;
}
.datetime input {
  background-color: #f9f9f9;
  border: 1px solid #b8b8b8;
  box-shadow: 2px 2px 2px #e3e3e3 inset;
  color: #3a4c56;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  height: 24px;
  text-align: center;
  width: 80px;
  margin-right: 10px;
}
#infoMessage {
  background-color: #effadf;
  border: 1px solid #88cb60;
  color: #387b0f;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 11px 14px;
}
#errorMessage {
  background-color: #ffefef;
  border: 1px solid #ff0000;
  color: #ff0000;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 11px 14px;
}
#tyres-yes span,
#tyres-no span {
  display: inline-block;
  margin-right: 5px;
}
.available-box {
  position: absolute;
  top: -7px;
  right: 126px;
}
#tab-yes,
#tab-no {
  border: 1px solid #dddddd;
  border-radius: 3px;
  color: #3a3a3a;
  display: block;
  float: right;
  height: 25px;
  margin-left: 8px;
  padding: 7px 0 0 !important;
  text-align: center;
  text-decoration: none;
  width: 34px;
}
#tab-yes.active,
#tab-no.active {
  background-color: #fff !important;
}
#tab-yes:hover,
#tab-no:hover {
  border: 1px solid #316b16;
}
table.withlines {
  border-collapse: inherit;
  font-family: Tahoma, Verdana, Arial, Helvetica !important;
}
#compareSpecs {
  font-family: Tahoma, Verdana, Arial, Helvetica !important;
  color: #000;
}
#sh_tires_list .name {
  white-space: normal;
}
.storage .r-cols .col-left {
  float: left;
  width: 260px;
}
.storage .r-cols .col-left .input,
.storage .r-cols .col-right .input {
  padding-bottom: 15px;
}
.storage .r-cols .col-left .input label {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
}
.storage .r-cols .col-left .input.select select,
.storage .r-cols .col-right .input.select select {
  background-color: #f9f9f9;
  border: 1px solid #b8b8b8;
  box-shadow: 2px 2px 2px #e3e3e3 inset;
  display: inline-block;
  padding: 4px 5px;
  width: 150px;
}
.storage .r-cols .col-left .input.text input,
.storage .r-cols .col-right .input.text input {
  background-color: #f9f9f9;
  border: 1px solid #b8b8b8;
  box-shadow: 2px 2px 2px #e3e3e3 inset;
  display: inline-block;
  padding: 5px;
  width: 138px;
}
.storage .r-cols .col-right {
  float: left;
  width: 300px;
  margin-left: 50px;
}
.storage .r-cols .col-right .input.select .size-box {
  display: inline-block;
  margin-right: 5px;
}
.storage .r-cols .col-right .input.select .size-box select {
  background-color: #f9f9f9;
  border: 1px solid #b8b8b8;
  box-shadow: 2px 2px 2px #e3e3e3 inset;
  display: inline-block;
  padding: 4px 5px;
  width: 70px;
}
.storage .r-cols .col-right .input label {
  display: inline-block;
  width: 60px;
  margin-right: 10px;
}
.storage .r-cols .col-right.pad-top {
  padding-top: 44px;
}
.auto .input select {
  background-color: #f9f9f9;
  border: 1px solid #b8b8b8;
  box-shadow: 2px 2px 2px #e3e3e3 inset;
  display: inline-block;
  padding: 4px 5px;
  width: 254px;
}
.hidden {
  display: none;
}

/** Tables **/
.cake-sql-log {
  border-right: 0;
  clear: both;
  color: #333;
  margin-bottom: 10px;
  width: 100%;
}
.cake-sql-log th {
  border: 0;
  border-bottom: 2px solid #555;
  text-align: left;
  padding: 4px;
}
.cake-sql-log th a {
  display: block;
  padding: 2px 4px;
  text-decoration: none;
}
.cake-sql-log th a.asc:after {
  content: " ⇣";
}
.cake-sql-log th a.desc:after {
  content: " ⇡";
}
.cake-sql-log tr td {
  padding: 6px;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #ddd;
}
.cake-sql-log tr:nth-child(even) {
  background: #f9f9f9;
}
.cake-sql-log td.actions {
  text-align: center;
  white-space: nowrap;
}
.cake-sql-log td.actions a {
  margin: 0px 6px;
  padding: 2px 5px;
}

/* SQL log */
.cake-sql-log {
  background: #fff;
}
.cake-sql-log td {
  padding: 4px 8px;
  text-align: left;
  font-family: Monaco, Consolas, "Courier New", monospaced;
}
.cake-sql-log caption {
  color: #fff;
}
.action-prod {
  position: absolute;
  left: -1px;
  top: -1px;
  width: 53px;
  height: 57px;
  background-repeat: no-repeat;
}
.action-prod.new {
  background-image: url(../img/new.png);
}
.action-prod.action {
  background-image: url(../img/action.png);
}
.action-prod.hit {
  background-image: url(../img/hit.png);
}
.center-content .opened span {
  width: 7px;
  height: 4px;
  display: inline-block;
  background-image: url(../img/opened.png);
  background-repeat: no-repeat;
  margin-left: 6px;
  position: relative;
  top: -1px;
}
.center-content .opened.closed span {
  background-image: url(../img/closed.png);
}
#storage {
  margin-top: 20px;
}
.div_attention {
  background-color: #fff5be;
  background-image: url("../img/info.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 15px 15px 15px 75px;
  margin-bottom: 20px;
}
.div_attention p {
  margin-top: 0;
}
.storage.return .r-cols .col-left .input label,
.storage.return .r-cols .col-right .input label {
  display: block;
  width: auto;
  margin-bottom: 2px;
}
.storage.return .r-cols .col-left {
  float: left;
  width: 297px;
}
.storage.return .r-cols .col-left .input.text input,
.storage.return .r-cols .col-right .input.text input {
  width: 288px;
}
.storage.return .r-cols .col-left .input .tips,
.storage.return .r-cols .col-right .input .tips {
  font-size: 11px;
  padding-top: 2px;
  color: #a6a6a6;
}
#return {
  margin-bottom: 40px;
}
.item_div {
  padding-bottom: 5px;
}
#tyres-trucks span {
  display: inline-block;
  margin-right: 5px;
}
#tyres-summer .productSeason {
  margin-top: -1px;
}
.filter-group.tyres .item.item2 .item-inner {
  display: inline-block;
}
.filter-group.tyres .item.item2 .item-inner.col-r {
  margin-left: 10px;
}
.filter-group.tyres .item.item2 .item-inner.col-r .sel-style1 {
  width: 115px;
}
.filter-group.tyres .item.item2 .item-inner .name {
  width: 60px;
}
.filter-group .item.item3.col-r {
  float: right;
}
.filter-group .item.item3.col-l,
.filter-group .item.item3.col-r {
  padding-top: 2px;
}
.filter-group .item.item3.col-l .item-inner,
.filter-group .item.item3.col-r .item-inner {
  margin-right: 10px;
  padding: 0;
}

.filter-group.disks .item.item3 .item-inner {
  padding-bottom: 12px;
}
